.display-page {
    background-color: #F3F2FA;
    margin: 0;
    padding: 0;

    &__header {
        background-color: #fff;
        padding: 1.25rem 4.75rem;
        display: flex;
        justify-content: space-between;

        &--add-post {
            justify-content: center;

        }
    }

    &__main {
        padding: 4rem 4.75rem;

        &__banner {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4rem;

            h1 {
                margin-left: 0.8125rem;
            }

            img {
                max-width: 624px;
            }

        }

        &__content {
            &__categories {
                width: fit-content;
                display: flex;
                gap: 1rem;
                justify-content: center;
                flex-wrap: wrap;
                margin-bottom: 4rem;
            }

            &__posts {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
            }
        }
    }
}

.single-page,
.form-page {
    padding: 4rem 4.75rem;

}

.form-page {
    background-color: #FBFAFF;
    position: relative;

    &>button {
        position: absolute;
        top: 4rem;
        left: 4.75rem;
    }



    &__content {
        width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        &__form {
            width: 100%;

            .input-div {

                &__image-label {


                    &>input {
                        display: none;
                    }

                    &>.drop-zone {
                        margin-top: 0.5rem;
                        width: 37.5rem;
                        height: 11.25rem;
                        border-radius: 0.75rem;
                        border: 0.0625rem dashed #85858D;
                        background: #F4F3FF;
                        // display: inline-block;
                        padding: 0.375rem 0.75rem;
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 1.5rem;

                        &>p {
                            span {
                                font-weight: 600;
                                text-decoration-line: underline;
                            }
                        }
                    }


                }

                &--icon.date {
                    &>svg {
                        position: absolute;
                        top: 2.625rem;
                        left: 1rem;
                    }

                    .input {
                        padding: 0.75rem 3rem;
                    }
                }

                &--icon.cat {
                    gap: 0;

                    label {
                        margin-bottom: 0.5rem;
                    }

                    &>svg {
                        position: absolute;
                        top: 2.625rem;
                        right: 1rem;
                    }

                    .input {
                        min-height: 3.0625rem;
                        padding: 0.375rem;
                        display: flex;
                        gap: 0.5rem;
                        flex-wrap: wrap;
                        // overflow-x: scroll;
                    }

                    .cat__dropdown {
                        width: 100%;
                        height: 9rem;
                        padding: 1rem;
                        border-radius: 0.75rem;
                        border: 0.0625rem solid #E4E3EB;
                        background: #FFF;
                        box-shadow: 0.125rem 0.25rem 0.5rem 0rem rgba(0, 0, 0, 0.08);
                        display: flex;
                        gap: 0.5rem;
                        flex-wrap: wrap;
                        overflow-y: scroll;
                        margin-bottom: 0.5rem;

                        /* Firefox */
                        & {
                            scrollbar-width: thin;
                            scrollbar-color: #5D37F3 #F7F7FF;
                        }

                        /* Chrome, Edge and Safari */
                        &::-webkit-scrollbar {
                            height: 8px;
                            width: 8px;
                        }

                        &::-webkit-scrollbar-track {
                            border-radius: 5px;
                            background-color: #fff;
                        }

                        &::-webkit-scrollbar-track:hover {
                            background-color: #fff;
                        }

                        &::-webkit-scrollbar-track:active {
                            background-color: #fff;
                        }

                        &::-webkit-scrollbar-thumb {
                            border-radius: 5px;
                            background-color: #5D37F3;
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background-color: #5D37F3;
                        }

                        &::-webkit-scrollbar-thumb:active {
                            background-color: #5D37F3;
                        }


                    }
                }

                &>.selected-img-wrapper {
                    padding: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: #F4F3FF;
                    border-radius: 0.75rem;

                    &>div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 0.5rem;
                    }
                }
            }


        }

        &>button {
            margin-left: auto;
            width: 50%;
        }



    }
}

.imgLabel {
    width: 500px;
    height: 400px;
    background-color: #F3F2FA;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

    &>input {
        display: none;
    }
}