@font-face {
  font-family: "firaGo";
  src: url(../fonts/FiraGO-Regular.eot) format("eot"), url(../fonts/FiraGO-Regular.otf) format("otf"), url(../fonts/FiraGO-Regular.ttf) format("ttf"), url(../fonts/FiraGO-Regular.woff) format("woff"), url(../fonts/FiraGO-Regular.woff2) format("woff2");
}
body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a,
li,
ul,
label,
input,
textarea {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "firaGo";
  font-style: normal;
  color: #1A1A1F;
}
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
button:focus,
a:focus,
li:focus,
ul:focus,
label:focus,
input:focus,
textarea:focus {
  outline: none;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.5rem;
}

h2 {
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
  line-height: 2rem;
  font-size: 1.5rem;
}

h4 {
  font-weight: 500;
  line-height: 1.75rem;
  font-size: 1.25rem;
}

h5 {
  font-weight: 500;
  line-height: 1.25rem;
  font-size: 1rem;
}

h6 {
  font-weight: 400;
  line-height: 1rem;
  font-size: 0.75rem;
  color: #85858D;
}

p {
  color: #404049;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
}
p.hint {
  color: #85858D;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
p.success {
  color: #14D81C;
  font-size: 0.75rem;
  line-height: 1.25rem;
}
p.error {
  color: #EA1919;
  font-size: 0.75rem;
  line-height: 1.25rem;
}

button {
  color: #FFF;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  border: none;
  border-radius: 8px;
  background-color: #5D37F3;
  padding: 0.625rem 1.25rem;
}
button.category {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  border-radius: 1.875rem;
}
button.category.selected {
  border: 1px solid #000;
}
button.outline {
  background-color: transparent;
  color: #5D37F3;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}
button.link {
  cursor: pointer;
}
button.link:hover {
  color: #bb37f3;
  font-size: 0.9rem;
  transition: 0.4s;
}
button.link:hover svg g path {
  fill: #bb37f3;
}
button.round {
  border-radius: 50%;
  background-color: #fff;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
button.round--active {
  background-color: #5D37F3;
}
button.round--inactive {
  background-color: #E4E3EB;
}

label {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

input,
textarea {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #85858D;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
input::placeholder,
textarea::placeholder {
  color: #85858D;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}

.card {
  width: 25.5rem !important;
  display: flex !important;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.card__img {
  width: 100%;
  height: 20.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem;
  margin-bottom: 0.5rem;
}
.card__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card--single {
  width: 45rem !important;
  gap: 1.5rem;
  margin: 0 auto;
}
.card--single > img {
  margin-bottom: 1rem;
}
.card--single > button {
  display: none;
}
.card--single > div:nth-of-type(2) {
  margin-bottom: 1rem;
}/*# sourceMappingURL=general-styles.css.map */