@font-face {
    font-family: 'firaGo';
    src: url(../fonts/FiraGO-Regular.eot) format('eot'),
        url(../fonts/FiraGO-Regular.otf) format('otf'),
        url(../fonts/FiraGO-Regular.ttf) format('ttf'),
        url(../fonts/FiraGO-Regular.woff) format('woff'),
        url(../fonts/FiraGO-Regular.woff2) format('woff2'),
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a,
li,
ul,
label,
input,
textarea {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;

    &:focus {
        outline: none;
    }

    font-family: 'firaGo';
    font-style: normal;
    color: #1A1A1F;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.5rem;
}

h2 {
    font-weight: 700;
    line-height: 2.5rem;
    font-size: 2rem;
}

h3 {
    font-weight: 700;
    line-height: 2rem;
    font-size: 1.5rem;
}

h4 {
    font-weight: 500;
    line-height: 1.75rem;
    font-size: 1.25rem;
}

h5 {
    font-weight: 500;
    line-height: 1.25rem;
    font-size: 1rem;
}

h6 {
    font-weight: 400;
    line-height: 1rem;
    font-size: 0.75rem;
    color: #85858D;
}

p {
    color: #404049;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;

    &.hint {
        color: #85858D;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

    &.success {
        color: #14D81C;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }

    &.error {
        color: #EA1919;
        font-size: 0.75rem;
        line-height: 1.25rem;
    }
}

button {
    color: #FFF;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;

    border: none;
    border-radius: 8px;
    background-color: #5D37F3;
    padding: 0.625rem 1.25rem;

    &.category {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1rem;

        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        border-radius: 1.875rem;

        &.selected {
            border: 1px solid #000;
        }


    }

    &.outline {
        background-color: transparent;
        color: #5D37F3;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.25rem;
    }
}

label {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;
}

input,
textarea {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.25rem;

    &::placeholder {
        color: #85858D;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25rem;
    }
}

.card {
    width: 25.5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

    &__img {
        width: 100%;
        height: 20.5rem;
        object-fit: cover;
        border-radius: 0.75rem;
        margin-bottom: 0.5rem;

    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}